@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #fff;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
